@use '../../styles/variables' as *;

.controls {
  position: absolute;
  top: 15px;
  right: 20px;
  display: flex;
  gap: 8px;
  z-index: 999;
  -webkit-app-region: no-drag; // Обязательно, чтобы кликались
}

.controlBtn {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.05);
  color: $text-muted;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
    color: $text-primary;
  }

  &.close:hover {
    background: $accent-blood;
    border-color: $accent-blood;
    color: #fff;
  }
}